// BRAND COLORS
$color-primary: #3442B5;
$color-primary-light: #3019B2;
$color-primary-dark: #23237a;

// (botões amarelos)3019B2
$color-secondary: #f7ca11;
$color-secondary-dark: #d4aa00;


// NEUTROS
$color-white: #ffffff;
$color-black: #000000;

// Background geral
$bg-main: #f5f5f5;
$bg-section: #ffffff;
$bg-card: #ffffff;

// Cinzas (UI)
$gray-100: #f9f9f9;
$gray-200: #eeeeee;
$gray-300: #F6F5F2;
$gray-400: #cccccc;
$gray-500: #999999;
$gray-600: #666666;
$gray-700: #444444;
$gray-800: #2d2d2d;


// TEXTOS
$text-primary: #222222;
$text-secondary: #666666;
$text-muted: #9F9F9F;
$text-white: #ffffff;


// BORDAS
$border-color: #e5e5e5;
$border-light: #f0f0f0;


// TIPOGRAFIA
$font-family-base: 'Poppins', sans-serif;


// TAMANHOS
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 22px;
$font-xxl: 28px;
$font-hero: 48px;


// PESOS
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;


// ESPAÇAMENTOS
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-xxl: 48px;


// BORDER RADIUS
$radius-sm: 6px;
$radius-md: 10px;
$radius-lg: 16px;
$radius-pill: 999px;


// SOMBRAS (cards e categorias)
$shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.12);


// TRANSIÇÃO
$transition-default: all 0.2s ease-in-out;