.search {
  display: flex;
  align-items: center;
  gap: $space-sm;

  background: $bg-search;
  border-radius: $radius-md;

  padding: $space-sm $space-md;
  width: 39rem;

  transition: $transition-default;

  &:focus-within {
    box-shadow: 0 0 0 2px rgba(47, 47, 162, 0.1);
  }

  &__icon {
    color: $text-muted;
    flex-shrink: 0;

    &:hover {
      color: $color-gray-dark;
    }
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;

    font-size: $font-sm;
    font-weight: $font-medium;
    color: $color-gray-dark;
    background: transparent;

    &::placeholder {
      color: $text-muted;
    }
  }

  &__button {
    display: flex;
  }
}