.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__copy {
    margin: $space-sm 0;
    font-size: $font-sm;
    font-weight: $font-light;
    color: $color-gray-dark;
  }
}